.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  flex-direction: column;
  gap: 2;
  height: 100vh;
}
.container {
  color: white;
  width: 50%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
